
.header{
    text-align: center;
    height: 45px;
    margin-bottom: 45px;

}

i{
    font-size: 20px;
    margin-top: 10px;
    float:left;
}
h3{
    font-size: 150%;
}

.card{
    background-image: url('header.png');
    margin: 0 auto;
    margin-top: 40px;
}

label{
    float:left;
}

button:last-child{
    float:right;
    clear: both;
}

form{
    padding: 5px;
}

body{
    background-color: gray;
    width: 30%;
    margin: 0 auto;
}

#loading, #results{
    clear:both;
    display: none;
    margin: 0 auto;
}

#results{
    margin-top: 10px;
}
